<h1 mat-dialog-title>Finder Detaill</h1>
<div mat-dialog-content>
Detail of finder
<a *ngFor="let item of popDeta" >
 
  <ul *ngIf= "data.id == item.id " >
    <li>
      <span><b> Finder full name :-</b> &nbsp; &nbsp;</span> {{item.finderName}}
    </li>
    <li>
      <span><b> Finder Address &nbsp; :-</b> &nbsp; &nbsp;&nbsp; </span>{{item.finderAddress}}
    </li>
    <li>
      <span><b> Finder Contact Number &nbsp; :-</b> &nbsp; &nbsp;&nbsp; </span> {{item.finderContactno}}
    </li>
    <li>
      <span><b> Find Place &nbsp; :-</b> &nbsp; &nbsp;&nbsp; </span>{{item.findLocation}}
    </li>
    <li>
      <span><b> Find Time &nbsp; :-</b> &nbsp; &nbsp;&nbsp; </span> {{item.findTime}}
    </li>
    <li>
      <span><b> Description &nbsp; :-</b> &nbsp; &nbsp;&nbsp; </span> {{item.description}}
    </li>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Cancel</button>
  </ul>
  
</a>
</div>
