<h1 mat-dialog-title>Finder Detaill</h1>
<div mat-dialog-content>
Detail of finder
<a *ngFor="let item of popDeta" >
  <ul *ngIf= "data.id == item.id " >
    <li>
      <span>&#10003;</span> {{item.finderName}}
    </li>
    <li>
      <span>&#10003;</span> {{item.finderAddress}}
    </li>
    <li>
      <span>&#10003;</span> {{item.finderContactno}}
    </li>
    <li>
      <span>&#10003;</span> {{item.findLocation}}
    </li>
    <li>
      <span>&#10003;</span> {{item.findTime}}
    </li>
    <li>
      <span>&#10003;</span> {{item.description}}
    </li>

   
  </ul>
</a>
</div>
